<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
  </head>
  <body>
  <!-- リンクURL th:属性名="@{/  }" -->
  	<form method="post" action="#" th:action="@{./loginUser}" th:object="${form}">
	    <h1>Welcome to User!!!</h1>
	    <div>
	      <span th:text="${message}"></span>　<!-- テキストの置き換えth:text"${  }" messageの値を埋め込む-->
	      <span th:text="${session}"></span>　
	    </div>
	    <input type="submit" name="back" value="戻る" />
    </form>
  </body>
</html>
